# Nuxt
.nuxt
.output
.data
*.log
node_modules
dist

# Env
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Supabase
supabase/.temp/

# Local Netlify folder
.netlify

.DS_Store